# ----------------------------------------------------------
# PostgreSQL
# ----------------------------------------------------------
POSTGRES_DB=logto
POSTGRES_USER=logto
POSTGRES_PASSWORD=change_me_strong_password

# ----------------------------------------------------------
# Logto
# ----------------------------------------------------------
ENDPOINT=https://auth.example.com
ADMIN_ENDPOINT=https://admin.example.com
TRUST_PROXY_HEADER=1
LOGTO_PORT=3001
LOGTO_ADMIN_PORT=3002

# ----------------------------------------------------------
# Image tags
# ----------------------------------------------------------
LOGTO_TAG=latest
POSTGRES_TAG=17-alpine
